###############################################################################
## cmake directories ##########################################################
###############################################################################

*/build/
*/.cache/

###############################################################################
## ide ignores ################################################################
###############################################################################

*/.idea